# Секретные файлы
credentials.json
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/
*.egg

# Виртуальное окружение
venv/
.venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Логи
*.log
bot_errors.log
